comment "Bluetooth HCI BTSNOOP Setup Options"

config BT_HCI_BTSNOOP
	bool  "Btsnoop protocol over UART"
	default y
	depends on BT_HCI
	

config BT_HCI_BTSNOOP_TASK
	bool "Btsnoop TX use a thread"
	depends on BT_HCI_BTSNOOP
	help
	  This option will create a task to send btsnoop packets through uart.

