menu "Dependence"

menu "Board setup"
choice 
	prompt "CPU architecture"
	default ARM
	help
	  to be done

config ARM
	bool "Arm"
	help
	  to be done

endchoice

choice 
	prompt "Platform select"
	default PLATFORM_8710C
	help
	  to be done

config PLATFORM_8710C
	bool "8710C"
	help
	  to be done

endchoice

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int "System clock frequence"
	default 72000000
	help
	  to be done

config HEAP_MEM_POOL_SIZE
	int "Mempool size of heap"
	default 0
	help
	  to be done

config CLOCK_CONTROL
	bool "Enable clock control"
	default y
	help
	  to be done

config USE_ZEPHYR_BT_STACK
	bool "Use zephyr bt stack"
	default y
	help
	  to be done

config SETTINGS
	bool "Enable settings"
	default n
	help
	  to be done

endmenu #Board setup

menu "OS setup"

choice 
	prompt "RTOS select"
	default KERNEL_RTOS_FREERTOS
	help
	  to be done

config KERNEL_RTOS_FREERTOS
	bool "FreeRTOS"
	help
	  to be done

endchoice

config USE_STATIC_MEM
	bool "Use static memory"
	default y
	help
	  to be done

config PRINTK
	bool "Printk support"
	default y
	help
	  to be done

config ASSERT
	bool "Assert support"
	default y
	help
	  to be done
endmenu # OS setup

rsource "kernel/Kconfig"

menu "BT debug and log system"

config BT_LOG_LEVEL
	int "BT log level"
	default 5
	help
	  to be done

endmenu # BT debug and log system

rsource "tinycrypt/Kconfig"
rsource "hci/Kconfig"
rsource "shell/Kconfig"
rsource "settings/Kconfig"

endmenu # dependence