menu "BT settings setup"
if SETTINGS

config BT_SETTINGS
    bool "BT settings support"
    default y if SETTINGS
    help
      to be done

if BT_SETTINGS

config BT_SETTINGS_CCC_LAZY_LOADING
    bool "BT settings ccc lazy loading support"
    default y 
    help
      to be done

config BT_SETTINGS_USE_PRINTK
    bool "BT setting use printk"
    default y
    help
      to be done

endif # BT_SETTINGS

config SETTINGS_LOG_LEVEL_INF
    bool "Settings log level inf"
    default y
    help
      to be done

config SETTINGS_LOG_LEVEL
    int "Settings log level"
    default 3
    help
      to be done

config SETTINGS_DYNAMIC_HANDLERS
    bool "Settings dynamic handler support"
    default y
    help
      to be done
      
endif # SETTINGS
endmenu