# Shell entry and Shell priv cmds

menu "Shell entry & private cmds"

config BT_SHELL_PRIV
  bool "Shell entry and private commands Support"
  default y
  help
    This option enables Shell entry and private commands.

endmenu # Shell entry & private cmds