menu "Kernel related setup"

menu "Net Buf"
config NET_BUF
	bool "Network buffer support"
	help
	  This option enables support for generic network protocol
	  buffers.

if NET_BUF

config NET_BUF_USER_DATA_SIZE
    int "Net buf user data's size"
    default 4
    help
      to be done

config NET_BUF_LOG
	bool "Network buffer logging"
	select LOG
	help
	  Enable logs and checks for the generic network buffers.

endif

if NET_BUF_LOG

config NET_BUF_WARN_ALLOC_INTERVAL
    int "Net buf warn alloc interval"
    default 0
    help
      to be done
    
config NET_BUF_LOG_LEVEL
    int "Net buf log level"
    default 3
    help
      to be done

endif #NET_BUF_LOG
endmenu

endmenu